#filters {
  .project-view-control {
    display: inline-block;
  }
  margin-bottom: 1em;
}

.vertical-drawer {
  $drawer-bg-color: #ffffff;

  @include transition (all 0.8s ease-in);
  .drawer-contents {
    text-align: center;
    background-color: $drawer-bg-color;

    * {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }

  .drawer-handle {
    text-align: center;

    a {
      font-weight: 700;
      display: inline-block;
      background-color: $drawer-bg-color;

      cursor: pointer;

      padding-left: 1em;
      padding-right: 1em;

      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      height: 2em;
      line-height: 2em;
    }
  }

}
