<!DOCTYPE html>

<html ng-app="asanaProjectsViewer">
  <head>
    <title>UP Global - Projects</title>

    <meta name="viewport" content="user-scalable=no, height=device-height, width=device-width, initial-scale=1, maximum-scale=1">

    <script src="//use.edgefonts.net/raleway;pt-sans.js"></script>
    <link rel="stylesheet" href="/css/application.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <header class="page-title">
      <h1>
        UP Global Projects List
      </h1>
    </header><!-- .page-title -->

    <section id="projects" ng-controller="ProjectsController">
      <div id="filters" class="vertical-drawer">
        <div id="project-filters" class="drawer-contents slideable" easing="ease-in-out" duration="0.4s">
          <div class="project-view-control">
            <select name="projectStatusFilterControl" ng-model="projectFilter.Status">
              <option value="">All Projects</option>
              <option value="G">Healthy Projects</option>
              <option value="Y">Slow Projects</option>
              <option value="R">Blocked Projects</option>
              <option value="Unknown">Unknown Status Projects</option>
            </select>
          </div><!-- .project-view-control -->

          <div class="project-view-control">
            <select name="sortControl" ng-model="orderProp">
              <option value="Position" selected="selected">Sorted by Priority</option>
              <option value="ProjectName">Sorted by Name</option>
            </select>
          </div><!-- .project-view-control -->

          <p>
            <a href="#completed">View Completed Projects</a>
          </p>
        </div><!-- .drawer-contents -->

        <div class="drawer-handle">
          <a slide-toggle="#project-filters">Project View Options</a>
        </div><!-- .drawer-handle -->
      </div><!-- #filters -->

      <div class="project"
         ng-cloak
         ng-repeat="project in projects | filter:projectFilter | orderBy:orderProp"
         ng-controller="ProjectItemController"
         >

        <div class="project__summary">
          <h2 class="project__name">
            <span class="project__status {{ project.Status }}">
              {{ project.Symbol }}
            </span>

            <span class="project__position">
              #{{ project.Position }} &ndash;
            </span>

            {{ project.ProjectName }}

          </h2>
        </div>

        <div class="project__links">
          <a href="https://app.asana.com/0/{{ project.ID }}" target="_blank">[View in Asana]</a>
        </div><!-- .project__links -->

        <div class="project__details" ng-show="project.showDetails">
          <p><b>Notes:</b></p>

          <div class="loading" ng-hide="project.details.Notes != undefined">
            Loading... <i class="fa fa-spinner fa-spin"></i>
          </div>

          <p>
            {{ project.details.Notes }}
          </p>

          <p><b>Owners:</b></p>
          <div class="loading" ng-hide="project.details.Members.length > 0">
            Loading... <i class="fa fa-spinner fa-spin"></i>
          </div>
          <ul>
            <li ng-repeat="member in project.details.Members">
              {{ member.Name }}
            </li>
          </ul>

          <p><b>Contributors:</b></p>
          <div class="loading" ng-hide="project.taskContributors.length > 0">
            Loading... <i class="fa fa-spinner fa-spin"></i>
          </div>
          <ul>
            <li
              ng-repeat="contributor in project.taskContributors">
              {{ contributor.Name }} - {{ contributor.TaskCount }}
            </li>
          </ul>

          <p><b>Tasks:</b></p>

          <div class="loading" ng-hide="project.tasks.length > 0">
            Loading... <i class="fa fa-spinner fa-spin"></i>
          </div>

          <ul>
            <li
              ng-repeat="task in project.tasks"
              class="project__task {{ task.Completed ? 'completed' : '' }} {{ task.Name | outputIfMatch:':$':'section'}}"
              >
              <a href="https://app.asana.com/0/{{ project.ID }}/{{ task.ID }}" target="_blank">
                {{ task.Name }}
              </a>
              <span ng-show="task.Assignee.Name">
               &ndash; {{ task.Assignee.Name }}
              </span>
            </li>
          </ul>
        </div>

      </div><!-- .project ng-repeat -->

      <div class="completedProjects" ng-show="completedProjects.length > 0">
        <h1 id="completed" ng-cloak>Completed</h1>

        <div class="project" ng-cloak ng-repeat="project in completedProjects">
          <div class="project__summary">
            <h2 class="project__name">
              <span class="project__status {{ project.Status }}">
                {{ project.Symbol }}
              </span>

              {{ project.ProjectName }}
            </h2>
          </div><!-- .project__summary -->

          <div class="project__links">
            <a href="https://app.asana.com/0/{{ project.ID }}" target="_blank">[View in Asana]</a>
          </div><!-- .project__links -->

        </div><!-- .project -->

      </div><!-- .completedProjects -->


    </section><!-- #projects -->
    <script src="/js/application.js"></script>
  </body>
</html>
