<!DOCTYPE html>

<html ng-app="asanaProjectsViewer">
  <head>
    <title>UP Global - Projects</title>

    <script src="//use.edgefonts.net/raleway;pt-sans.js"></script>
    <link rel="stylesheet" href="/css/application.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <header class="page-title">
      <h1>
        UP Global Projects List
      </h1>
    </header><!-- .page-title -->

    <section id="projects" ng-controller="ProjectsController">
      <div id="filters" class="vertical-drawer">
        <div id="project-filters" class="drawer-contents slideable" easing="ease-in-out" duration="0.4s">
          <div class="project-view-control">
            <select name="projectStatusFilterControl" ng-model="projectFilter.Status">
              <option value="">All Projects</option>
              <option value="G">Healthy Projects</option>
              <option value="Y">Slow Projects</option>
              <option value="R">Blocked Projects</option>
              <option value="Unknown">Unknown Status Projects</option>
            </select>
          </div><!-- .project-view-control -->

          <div class="project-view-control">
            <select name="sortControl" ng-model="orderProp">
              <option value="Position" selected="selected">Sorted by Priority</option>
              <option value="ProjectName">Sorted by Name</option>
            </select>
          </div><!-- .project-view-control -->
        </div><!-- .drawer-contents -->


        <div class="drawer-handle">
          <a slide-toggle="#project-filters">Project View Options</a>
        </div><!-- .drawer-handle -->
      </div><!-- #filters -->

      <div class="project" ng-repeat="project in projects | filter:projectFilter | orderBy:orderProp">
        <h2 class="project__name">
          <span class="project__status {{ project.Status }}">
            {{ project.Symbol }}
          </span>

          <span class="project__position">
            #{{ project.Position }} &ndash;
          </span>

          {{ project.ProjectName }}
        </h2>
      </div><!-- .project -->
    </section><!-- #projects -->
    <script src="/js/application.js"></script>
  </body>
</html>
